<%- include('header', { id_prof: id}) %>
<link rel="stylesheet" href="/public/about.css">
<title>About</title>

<div class="container about-section">
    <div class="row">
        <div class="col-md-4">
            <img src="/public/images/hadin.jpeg" alt="Profile Image" class="profile-img">
        </div>
        <div class="col-md-8">
            <h1>Name: Hadin Ibrahim</h1>
            <p>Age: 25</p>
            <p>About: Ya saya sudah berusaha sebaik mungkin mas jihand, cuman dikarenakan kendala waktu ya. Jadinya hasilnya masih kurang maksimal, jadi segini aja isi about saya. Saya gatau mau nulis apa, karena saya bikin ini di jam 23:32 heheh</p>
        </div><br><br>
        <div class="row">
            <div class="col-md-4">
                <img src="/public/images/masJihand.jpeg" alt="Profile Image" class="profile-img">
            </div>
        <div class="col-md-8">
            <h1>Name: Jihand Aulia Sashiomarda</h1>
            <p>Age: Saya gatau umur mas berapa</p>
            <p>About: Terimakasih sangat amat banyak, karena telah membimbing dengan sangat amat sabar dan telaten. Maaf jika banyak nanya hehe. Sukses terus mas jihand semoga makin sabar mengajar kita ya nanti di Platinum</p>
        </div>
    </div>
</div>

<%- include('footer') %>