<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <% profile.forEach((objek)=>{%>
        <p><%=objek.username%> <%=objek.job_title%> <%=objek.off_left%></p>
    <%})%>
</body>
</html>